@media(max-width:2512px) and (min-width:300px) {
  /*:root {
    background-color: #f8f8f8;
    color: #db1515;
  }*/
  body{
    font-family: monospace;
  }
  .mn-nav{
    background-color: rgb(250, 122, 250);
    height: 60px;
    text-align: center;
    border-radius: 7px 7px 0 0;
  }
  .nav-title{
    padding-top: 18px;
    font-size: 20px;
  }
  .mn-wel{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    height: 75vh;
    align-items: center;
    justify-content: center;
  }
  .desgn-wal{
    background-color:rgb(250, 122, 250); 
    width: 200px;
    text-align: center;
    height: 40px;
    padding-top: 20px;
    display: none;
  }
  .cbwal{
    margin-bottom: 10px;
  }
  .connect-Wal{
    background-color:rgb(250, 122, 250);
    height: 60px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px 8px 0 0;
  }
  .unreg-user{
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    margin-top: 10px;
  }
  .add-user{
    margin-top: 150px;
  }
  .sub-sign{
    margin-top: 30px;
  }
  #name-text{
    font-size: 14px;
    margin-bottom: 20px;
  }
  .sub-sign>div>input{
    border: 1px solid black;
    height: 32px;
    border-radius: 2px;
  }
  .sub-sign>div>input::placeholder{
    padding-left: 10px;
  }
  #continue-ton{
    margin-top: 28px;
    background-color: rgb(250, 122, 250);
    width: 70px;
    height: 30px;
    padding: 15px 4px 0 8px;
  }
  .mn-registered{
    display: flex;
    flex-direction: column;
    height: 70vh;
    /* align-items: center; */
  }
  #id-wallet{
    text-align: center;
  }
  .sub-registered{
    margin: 40px 0  10px;
  }
  .sub-one{
    display: flex;
    margin-top: 40px;
  }
  .input-val>div{
    margin: 5px 0 5px 20px ;
  }
  .topic{
    height: 28px;
    width: 150px;
    border: 1px solid rgb(17, 17, 17);
  }
  .link{
    height: 30px;
    border: 1px solid rgb(15, 15, 15);
  }
  .add-list{
    display: flex;
    justify-content: right;
    margin-right: 20px;
  }
  .add-list>div{
    background-color: rgb(250, 122, 250);
    width: 100px;
    height: 30px;
    padding-top: 15px;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }
  .view-only-wrong{
    color: red;
    display: none;
  }
  .disconnect{
    border: 2px solid rgb(250, 122, 250);
    width: 80px;
    padding: 10px 3px;
  }
  .sub-discr{
    display: flex;
    justify-content: right;
  }
  .contingMesage{
    font-weight: 700;
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
  }
  .main-user-view{
    margin-top: 8%;
    display: flex;
    height: 55vh;
  }
  .sub-list-each{
    font-size: 20px;
    border: 1px solid purple;
    margin: 10% 0;
    width: 200px;
    padding: 5px 5px;
    overflow-wrap: break-word;
  }
  .Topic-sub{
    text-transform: capitalize;
    font-family: monospace;
    font-size: 22px;
    font-weight: 700;
  }
  .connection-info{
    color: red;
    font-size: 14px;
    text-align: center;
    display: none;
  }
  .input-warn{
    color: red;
    display: none;
    text-align: center;
    margin-top: 10px;
  }
  .update-list{
    display: flex;
    justify-content: right;
  }
  .update-list>div{
    background-color:  rgb(250, 122, 250) ;
    padding: 15px;
  }
  .deleted-it{
    color: green;
    text-align: center;
    display: none;
  }
  .page-not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    justify-content: center;
  }
  .page-not-found-info{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
  }
  .share-link-info{
    font-size: 16px;
  }
  .share-link-link{
    font-size: 10px;
  }
  .create-new-user{
    display: flex;
    justify-content: right; 
  }
  .create-new-user>div{
    margin-top: 20px;
    background-color:rgb(250, 122, 250);
    padding: 12px 6px; 
  }
  .create-pow{
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-weight: 600;
    font-size: 16px;
  }
}